
h1
{
	color: rgba(247, 8, 8, 0.534); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bgi.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;

}
